//---------------------------------------------
// Side-menu styles
//---------------------------------------------
div.buildup-sidemenu {
	box-sizing: border-box;
	margin: 0 18px 24px 40px;

	div.section {
		margin-bottom: 14px;
		&:last-child {
			margin-bottom: 0;
		}

		h1.section-title {
			font-size: 15px;
			font-weight: 400;
			color: #49535E;

			cursor: pointer;

			margin-top: 16px;
			margin-bottom: 9px;
			&:first-child {
				margin-top: 0;
			}

			img {
				display: none;
			}
			&.section-hide {
				img {
					display: inline;
				}
			}
		}

		ul {
			&.section-hide {
				display: none;
			}

			li {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				a {
					display: inline-block;
					text-overflow: ellipsis;
					overflow: hidden;
					color: #7A8995;

					&:hover, &:active {
						color: #000000;
					}
				}

				svg {
					display: inline;

					circle {
						fill: #E2E8EE;
						stroke: #D6DDE4;
						stroke-width: 2px;
					}

					path {
						fill: #ffffff;
					}
				}

				&:first-child {
					margin-top: 0;
				}

				&.item-group {
					font-size: 13px;
					font-weight: 400;

					margin-top: 5px;
					margin-bottom: 7px;

					a {
						width: 231px;
					}

					svg {
						vertical-align: 4px;
					}
				}

				&.item {
					font-size: 12px;
					font-weight: 300;

					height: 20px;
					
					margin-bottom: 2px;

					a {
						width: 210px;
						vertical-align: -3px;
					}
				}

				&.item-unimportant {
					opacity: 0.3;
				}

				&.item-current {
					color: #007ee5;
				}
			}
		}
	}
}

//---------------------------------------------
// Tiny UI
//---------------------------------------------
.hp-doclist-entry-activity-info {
	display: none;
}

.hp-doclist-entry-byline {
	display: inline;
}

.hp-doclist-entry-byline-private {
	display: none;
}

.hp-doclist-entry-sharing-status-separator {
	display: none;
}

.hp-doclist-entry-snippet {
	display: none;
}

.hp-list-item-content {
	margin-left: 1px;
}

.hp-list-item-icon {
	display: none;
}

.hp-list-item-star {
	top: 0;
}

.hp-list-item-subtitle {
	display: inline;
	padding-left: 10px;
}

.hp-list-item-title {
	display: inline;
}

.hp-meeting-note-entry {
	display: none;
}

a.hp-list-item {
	padding-bottom: 2px;
	padding-top: 2px;
}

s {
	color: #bbbbbb;
}

//---------------------------------------------
// TODO Right-click move to folder
//---------------------------------------------
//@keyframes to-right {
//	from {
//		opacity: 0;
//		visibility: hidden;
//		transform: translateX(0px);
//	}
//	to {
//		opacity: 1;
//		visibility: visible;
//		transform: translateX(10px);
//	}
//}
//
//div.buildup-move2folder {
//	font-size: 13px;
//	background-color: rgba(255, 255, 255, 0.8);
//	border-radius: 3px;
//	border: 1px solid #000000;
//	padding: 10px;
//
//	position: absolute;
//	z-index: 9999;
//
//	box-sizing: border-box;
//
//	animation-duration: 0.4s;
//	animation-fill-mode: forwards;
//	animation-timing-function: ease;
//	animation-name: to-right;
//
//	a.buildup-move2folder-folder {
//		display: block;
//		cursor: pointer;
//	}
//}